---
import BaseLayout from '../layouts/BaseLayout.astro';
import DivisionCalculator from '../components/DivisionCalculator';
---

<BaseLayout title="Division">
	<h1>Dividing Fractions</h1>
	<p class="explanation">
		"How many groups of B are in A?"
	</p>

	<DivisionCalculator client:load />

</BaseLayout>

<style>
	.explanation {
		font-size: 1.25rem;
		margin-bottom: 2rem;
		text-align: center;
	}
</style>
