---
import BaseLayout from '../layouts/BaseLayout.astro';
import MultiplicationCalculator from '../components/MultiplicationCalculator';
---

<BaseLayout title="Multiplication">
	<h1>Multiplying Fractions</h1>
	<p class="explanation">
		Visualize multiplying "Part of a Part".
	</p>

	<MultiplicationCalculator client:load />

</BaseLayout>

<style>
	.explanation {
		font-size: 1.25rem;
		margin-bottom: 2rem;
		text-align: center;
	}
</style>
