---
import BaseLayout from '../layouts/BaseLayout.astro';
import SubtractionCalculator from '../components/SubtractionCalculator';
---

<BaseLayout title="Subtraction">
    <h1>Subtracting Fractions</h1>
    <p class="explanation">
        Enter fractions to visualize subtraction.
    </p>

    <SubtractionCalculator client:load />

</BaseLayout>

<style>
    .explanation {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        text-align: center;
    }
</style>
